<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/common-admin::header(title='博客管理登录')"></head>
<body>
<div id="box">
  <div th:replace="/admin/common-admin::nav-admin(active='blog')"></div>
  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success large  message">
        <h3>Hi,</h3>
        <p><span th:text="${session.user.getNickName()}"></span>，欢迎登录！</p>
      </div>
      <img th:src="@{/images/firstPic.jpg}" alt="" class="ui rounded bordered fluid image">
    </div>
  </div>
  <!--底部-->
  <div th:replace="/admin/common-admin::footer-admin"></div>
</div>
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

</script>
</body>
</html>