<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/common-admin::header(title='标签管理')"></head>
<body>
<div id="box">
  <!--导航-->
  <div th:replace="/admin/common-admin::nav-admin(active='tag')"></div>
  <!--菜单-->
  <div th:replace="/admin/common-admin::menu-admin(active='tag-add')"></div>
  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <form th:action="@{/admin/tags}" method="post" class="ui form">
        <input type="hidden" name="id">
        <div class=" field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">名称</label>
            <input type="text" name="name" placeholder="标签名称" >
          </div>
        </div>
        <div class="ui error message"></div>
        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button class="ui teal submit button">提交</button>
        </div>
      </form>
    </div>
  </div>
  <!--底部footer-->
  <div th:replace="/admin/common-admin::footer-admin"></div>
</div>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
      on : 'hover'
    });
    $('.ui.form').form({
      fields : {
        title : {
          identifier: 'name',
          rules: [{
            type : 'empty',
            prompt: '请输入分类名称'
          }]
        }
      }
    });
  </script>
</body>
</html>