<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/common-admin::header(title='分类管理')"></head>
<body>
<div id="box">
  <!--导航-->
  <div th:replace="/admin/common-admin::nav-admin(active='type')"></div>
  <!--菜单-->
  <div th:replace="/admin/common-admin::menu-admin(active='types')"></div>
  <!--中间内容-->
  <div class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success message" th:if="${message!=null}">
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">恭喜，操作成功！</p>
      </div>
      <table class="ui padded teal large table">
        <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th class="right aligned">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="type" type="cn.xudam.blog.pojo.Type"*/-->
        <tr th:each="type : ${pageInfo.getList()}">
          <td th:text="${type.getId()}">1</td>
          <td th:text="${type.getName()}">清单</td>
          <td class="right aligned">
            <a href="#" th:href="@{'/admin/types/update/'+${type.getId()}}" class="ui large teal basic button">编辑</a>
            <a href="#" th:href="@{'/admin/types/delete/'+${type.getId()}}" class="ui large red basic button">删除</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="6" >
            <div class="ui big pagination menu" th:if="${pageInfo.hasPreviousPage || pageInfo.hasNextPage}">
              <a th:if="${!pageInfo.isFirstPage}" th:href="@{'/admin/types/'+${pageInfo.getPrePage()}}" class="  item" >上一页</a>
              <a th:if="${!pageInfo.isLastPage}" th:href="@{'/admin/types/'+${pageInfo.getNextPage()}}" class=" item">下一页</a>
            </div>
            <a href="#" th:href="@{/admin/types/input}"  class="ui big right floated teal basic button">新增</a>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!--底部footer-->
  <div th:replace="/admin/common-admin::footer-admin"></div>
</div>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });
  </script>
</body>
</html>