<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xudam.blog.dao.BlogMapper">
    <sql id="BASE_COLUMN">
        id, title, content, description, firstpic, flag, views, appreciation, copyright,
        commentable, publish, recommend, createtime, updatetime, type_id
    </sql>

    <select id="getTypeById" parameterType="Integer" resultType="Type">
        select Id, name from t_type
        where Id=#{id}
    </select>

    <resultMap id="BlogMapper" type="Blog">
        <id column="Id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="description" property="description"/>
        <result column="firstpic" property="firstPic"/>
        <result column="views" property="views"/>
        <result column="appreciation" property="appreciation"/>
        <result column="copyright" property="copyright"/>
        <result column="commentable" property="commentAble"/>
        <result column="publish" property="publish"/>
        <result column="recommend" property="recommend"/>
        <result column="createtime" property="createTime"/>
        <result column="updatetime" property="updateTime"/>
        <association property="type" javaType="Type" select="getTypeById" column="type_id"/>
    </resultMap>

    <select id="listBlogByBlogIds" parameterType="List" resultMap="BlogMapper">
        select <include refid="BASE_COLUMN"/>
        from t_blog
        where Id in
        <foreach collection="list" item="list" open="(" close=")" separator=",">
            #{list.blogId}
        </foreach>
    </select>

    <select id="getBlogById" parameterType="Integer" resultMap="BlogMapper">
        select
        <include refid="BASE_COLUMN"/>
        from t_blog where id=#{id}
    </select>

    <select id="getBlogByName" parameterType="String" resultType="Blog">
        select
        <include refid="BASE_COLUMN"/>
        from t_blog where id=#{name}
    </select>

    <select id="listBlogByCond" resultMap="BlogMapper" parameterType="cn.xudam.blog.dto.cond.BlogCond">
        select
        <include refid="BASE_COLUMN"/>
        from t_blog
        <where>
            <if test="title != null and description == null">
                and title like concat('%',#{title, jdbcType=VARCHAR},'%')
            </if>
            <if test="title != null and description != null">
                and title like concat('%',#{title, jdbcType=VARCHAR},'%')
                or description like concat('%',#{description, jdbcType=VARCHAR},'%')
            </if>
            <if test="typeId != null">
                and type_Id = #{typeId, jdbcType=INTEGER}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend, jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <select id="listBlog" resultMap="BlogMapper">
        select
        <include refid="BASE_COLUMN"/>
        from t_blog
    </select>

    <insert id="saveBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        insert into t_blog (title, content, description, firstPic, flag, views, appreciation, copyright, commentAble, publish, recommend, createTime, updateTime, type_id)
        values (
            #{title, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{description, jdbcType=VARCHAR},
            #{firstPic, jdbcType=VARCHAR},
            #{flag, jdbcType=VARCHAR},
            #{views, jdbcType=INTEGER},
            #{appreciation, jdbcType=TINYINT},
            #{copyright, jdbcType=TINYINT},
            #{commentAble, jdbcType=TINYINT},
            #{publish, jdbcType=TINYINT},
            #{recommend, jdbcType=TINYINT},
            #{createTime, jdbcType=TIMESTAMP},
            #{updateTime, jdbcType=TIMESTAMP},
            #{type.id, jdbcType=INTEGER}
        )
    </insert>

    <update id="updateBlog" parameterType="Blog">
        update t_blog set title=#{title}, content=#{content}, description=#{description}, firstPic=#{firstPic}, flag=#{flag},
        views=#{views}, appreciation=#{appreciation}, copyright=#{copyright}, commentAble=#{commentAble},
        publish=#{publish}, recommend=#{recommend}, createTime=#{createTime}, updateTime=#{updateTime}, type_id=#{type.id}
        where Id=#{id}
    </update>

    <update id="updateBlogViewsByBlogId" parameterType="Integer">
        update t_blog set views = views+1 where Id=#{id}
    </update>

    <delete id="deleteBlogById" parameterType="Integer">
        delete from t_blog where Id=#{id}
    </delete>

    <select id="findGroupYear" resultType="String">
        select date_format(createTime, '%Y') as year from t_blog group by year order by year desc
    </select>

    <select id="listBlogByYear" resultType="Blog" parameterType="Integer">
        select
        <include refid="BASE_COLUMN"/>
        from t_blog
        where date_format(createTime, '%Y') = #{year}
    </select>

    <select id="countBlog" resultType="Integer">
        select count(*)
        from t_blog
    </select>
</mapper>