<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xudam.blog.dao.TypeMapper">

    <insert id="saveType" parameterType="Type">
        insert into t_type (Id, name)
        values (#{id}, #{name})
    </insert>

    <select id="getTypeById" parameterType="Integer" resultType="Type">
        select Id, name from t_type
        where Id=#{id}
    </select>

    <select id="getTypeByName" parameterType="String" resultType="Type">
        select id, name from t_type
        where name=#{name}
    </select>

    <select id="listType" resultType="Type">
        select id, name from t_type
    </select>

    <update id="updateType" parameterType="Type">
        update t_type set name=#{name}
        where Id=#{id}
    </update>

    <delete id="deleteType" parameterType="Integer">
        delete from t_type where Id=#{id}
    </delete>
</mapper>