<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::header(title='关于我')"></head>
<body>

<!--导航-->
<div th:replace="common::mynav(active='about')"></div>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">关于本人</div>
          </div>
          <div class="ui attached segment">
            <div class="ui bulleted list">
              <h3>xudam · 许大鸣</h3>
              <div class="item">00后，就读于河南水环学院计算机应用技术专业，现学习Java后端方向</div>
              <div class="item">目前在郑州学习，在被学业折腾的同时保持着对后端各项技术热忱的追求</div>
              <div class="item">在学习的过程中越来越理解交流与分享的重要性，所以创建了本站，希望能记录本人在学习过程中遇到的一些问题与其他优秀资源</div>
            </div>
          </div>
          <div class="ui top attached segment">
            <div class="ui header">关于本站</div>
          </div>
          <div class="ui attached segment">
            <div class="ui bulleted list">
              <div class="item">本站由本人个人完成，由于本人技术有限，如有BUG欢迎评论或联系本人指出</div>
              <div class="item">本站前端使用了 semantic ui 的博客模板</div>
              <div class="item">后端采用了SpringBoot2.2 持久层使用了Mybatis 数据库使用了Mysql</div>
              <div class="item"><a href="https://github.com/XiaoMingTongXue7/blog">GitHub</a>在此，对本站感兴趣的欢迎访问</div>
            </div>
          </div>
          <div class="ui bottom attached segment">
            <a href="https://github.com/XiaoMingTongXue7" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2437372927" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>

    </div>
  </div>

  <br>
  <br>
<!--底部footer-->
<div th:replace="common::myfooter"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });
    $('.qq').popup();

  </script>
</body>
</html>