<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">博客发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script th:src="@{/js/me.js}" type="text/javascript"></script>
</head>
<body>
<!--导航-->
<nav th:fragment="nav-admin(active)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2><a class="teal ui header item" th:href="@{/templates/admin}">管理后台</a></h2>
            <a th:href="@{/admin/blogs}" th:classappend="${active=='blogs'?'active':''}" class="m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
            <a th:href="@{/admin/types}" th:classappend="${active=='type'?'active':''}" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a th:href="@{/admin/tags}" th:classappend="${active=='tag'?'active':''}" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu" th:if="${session.user!=null}">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" th:src="@{${session.user.getAvatar()}}">
                        <span th:text="${session.user.getNickName()}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--菜单-->
<div th:fragment="menu-admin(active)" class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a style="cursor: default;" href="#" th:classappend="${#strings.contains(active, 'update')?'active teal':''}" class="item">修改</a>
            <a href="#" th:href="@{${#strings.contains(active, 'type')?'/admin/types/input':'/admin/tags/input'}}" th:classappend="${#strings.contains(active, 'add')?'active teal':''}" class="item">新增</a>
            <a href="#" th:href="@{${#strings.contains(active, 'type')?'/admin/types':'/admin/tags'}}" th:classappend="${#strings.contains(active, 'types')||#strings.contains(active, 'tags')?'active teal':''}" class="item">列表</a>
        </div>
    </div>
</div>

<!--底部-->
<footer th:fragment="footer-admin" style="width: 100%;" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img th:src="@{/images/wechat.png}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced " >最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <p class="item m-text-thin">Email：xudam7@163.com</p>
                    <p class="item m-text-thin">QQ：2437372927</p>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、学习、成长、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 blog Designed by xudaming</p>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">豫 ICP 备 19042054 号</p>
    </div>
</footer>
</body>
</html>